<th:block th:fragment="content">
    <p>Welcome to simple TODO list</p>
    <a href="/">All tasks</a>
    <a href="/">About project</a>
    <div>Add task</div>
    <form method="post" action="create">
        <input type="text" name="text" placeholder="typo new task" />
        <input type="text" name="tag" placeholder="add tag" />
        <button type="submit">Create</button>
    </form>

    <div>Find task</div>
    <form method="get" action="find">
        <input type="text" name="tag" placeholder="find by tag" />
        <button type="submit">Find</button>
    </form>

    <div>Tasks List</div>
    <div>
        <div th:each="task : ${tasks}">
            <form method="post" action="edit">
                <input type="text" name="text" th:value="${task.text}"/>
                <input type="text" name="tag" th:value="${task.tag}"/>
                <input type="number" name="id" th:value="${task.id}" hidden/>
                <button type="submit">Edit</button>
            </form>
            <form method="post" action="delete">
                <input type="number" name="id" th:value="${task.id}" hidden/>
                <button type="submit">Delete</button>
            </form>

        </div>
    </div>
</th:block>